<%= form_for(@daftar_muatan) do |f| %>
  <% if @daftar_muatan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daftar_muatan.errors.count, "error") %> prohibited this daftar_muatan from being saved:</h2>

      <ul>
      <% @daftar_muatan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w3-row-padding">
  <div class="w3-col s3 w3-right-align">
    <%= f.label :customer_name %>&nbsp;
  </div>
  <div class="w3-col s3">
    <%= f.select :customer_name, ["PT. ROYAL SULTAN AGUNG JKT", "PT. ROYAL SULTAN AGUNG SBY"], {}, {:class=> "w3-select w3-border w3-small"} %>
  </div>
  <div class="w3-col s3 w3-right-align">
    <%= f.label :kendaraan_id %>&nbsp;
  </div>
  <div class="w3-col s3">
    <select name="daftar_muatan[kendaraan_id]" id="kendaraan_id" class="w3-select w3-border w3-small">
    <% @kendaraan.each do |kendaraan| %>
       <option value="<%= kendaraan.id %>"><%= kendaraan.supir %> - <%= kendaraan.no_kendaraan %></option>
    <% end %>
    </select>
  </div>
  </div>
  <div class="w3-row-padding">
  <div class="w3-col s3 w3-right-align">
    <%= f.label :no_dm %>&nbsp;
  </div>
  <div class="w3-col s3">
    <%= f.text_field :no_dm, :class=> "w3-input w3-border w3-small" %>
  </div>
  <div class="w3-col s3 w3-right-align">
    <%= f.label :tgl_kirim %>&nbsp;
  </div>
  <div class="w3-col s3">
    <%= f.date_select :tgl_kirim, order: [:day, :month, :year] %>
  </div>
  </div>
  <div class="w3-row-padding">
  <div class="w3-col s3 w3-right-align">
    <%= f.label :kota %>&nbsp;
  </div>
  <div class="w3-col s3">
    <select name="daftar_muatan[kota]" id="kota" onchange='myFunction()' class="w3-select w3-border w3-small">
    <% @harga.each do |harga| %>
       <option value="<%= harga.kota_tujuan %>" <% if harga.kota_tujuan == @daftar_muatan.kota %>selected<% end %>><%= harga.kota_tujuan %> - <%= harga.tarif %></option>
    <% end %>
    </select>
  </div>
  <div class="w3-col s3 w3-right-align">
    <%= f.label :harga %>&nbsp;
  </div>
  <div class="w3-col s3">
    <%= f.text_field :harga, :class=> "w3-input w3-border w3-small" %>
  </div>
  </div>
  <div class="w3-row-padding">
  <div class="w3-col s3 w3-right-align">
    <%= f.label :tambahan %>&nbsp;
  </div>
  <div class="w3-col s3">
    <%= f.text_field :tambahan, :class=> "w3-input w3-border w3-small" %>
  </div>
  <div class="w3-col s3 w3-right-align">
    <%= f.label :tgl_terima %>&nbsp;
  </div>
  <div class="w3-col s3">
    <%= f.date_select :tgl_terima, order: [:day, :month, :year] %>
  </div>
  </div>
  <div class="w3-row-padding">
  <div class="w3-col s3">
    &nbsp;
  </div>
  <div class="w3-col s3">
    <br>
    <%= f.submit %>
  </div>
  </div>
  <br>
  <table class="w3-table-all w3-hoverable">
  <thead>
    <tr class="w3-light-grey">
      <th>Nomor DO</th>
      <th>Customer</th>
      <th>Tambahan</th>
    </tr>
  </thead>

  <tbody>
    <% @arr.each_with_index do |muatan_item, idx| %>
    <tr>
      <td><input type="text" name="no_do_<%=idx+1%>"value="<%=muatan_item.no_do%>" class="w3-input w3-border w3-small"></td>
      <td>
        <select name="konsumen_id_<%=idx+1%>" class="w3-select w3-border w3-small">
        <% @konsuman.each do |konsuman| %>
           <option value="<%= konsuman.id %>" <% if konsuman.id == muatan_item.konsumen_id %>selected<% end %>><%= konsuman.name %></option>
        <% end %>
        </select>
      </td>
      <td><input type="text" name="tambahan_<%=idx+1%>" value="<%=muatan_item.tambahan%>" class="w3-input w3-border w3-small"></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<script>
  function myFunction() {
    idx = document.getElementById("kota").selectedIndex;
    arr = [<%= @harga.collect(&:tarif).join(",") %>];
    document.getElementById("daftar_muatan_harga").value = arr[idx];
  }
</script>