<p id="notice"><%= notice %></p>

<h1>Listing Daftar Muatans</h1>

<table class="w3-table-all w3-hoverable">
  <thead>
    <tr class="w3-light-grey">
      <th>Customer name</th>
      <th>Kendaraan</th>
      <th>No dm</th>
      <th>Tgl kirim</th>
      <th>Kota</th>
      <th>Harga</th>
      <th>Tambahan</th>
      <th>Tgl terima</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daftar_muatans.each do |daftar_muatan| %>
      <tr>
        <td><%= daftar_muatan.customer_name %></td>
        <td><%= daftar_muatan.kendaraan.try(:no_kendaraan) %> - <%= daftar_muatan.kendaraan.try(:supir) %></td>
        <td><%= daftar_muatan.no_dm %></td>
        <td><%= daftar_muatan.tgl_kirim %></td>
        <td><%= daftar_muatan.kota %></td>
        <td><%= daftar_muatan.harga %></td>
        <td><%= daftar_muatan.tambahan %></td>
        <td><%= daftar_muatan.tgl_terima %></td>
        <td><%= link_to 'Show', daftar_muatan %></td>
        <td><%= link_to 'Edit', edit_daftar_muatan_path(daftar_muatan) %></td>
        <td><%= link_to 'Destroy', daftar_muatan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="w3-center">
<%= will_paginate @daftar_muatans %>
</div>
<br>

<%= link_to 'New Daftar muatan', new_daftar_muatan_path %>
