<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @daftar_muatan.id %>
</p>

<p>
  <strong>Customer name:</strong>
  <%= @daftar_muatan.customer_name %>
</p>

<p>
  <strong>Kendaraan:</strong>
  <%= @daftar_muatan.kendaraan_id %>
</p>

<p>
  <strong>No dm:</strong>
  <%= @daftar_muatan.no_dm %>
</p>

<p>
  <strong>Tgl kirim:</strong>
  <%= @daftar_muatan.tgl_kirim %>
</p>

<p>
  <strong>Kota:</strong>
  <%= @daftar_muatan.kota %>
</p>

<p>
  <strong>Harga:</strong>
  <%= @daftar_muatan.harga %>
</p>

<p>
  <strong>Tambahan:</strong>
  <%= @daftar_muatan.tambahan %>
</p>

<p>
  <strong>Tgl terima:</strong>
  <%= @daftar_muatan.tgl_terima %>
</p>

<%= link_to 'Edit', edit_daftar_muatan_path(@daftar_muatan) %> |
<%= link_to 'Back', daftar_muatans_path %>
