<%= form_for(@konsuman) do |f| %>
  <% if @konsuman.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@konsuman.errors.count, "error") %> prohibited this konsuman from being saved:</h2>

      <ul>
      <% @konsuman.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
