<p id="notice"><%= notice %></p>

<h1>Listing Konsumen</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @konsumen.each do |konsuman| %>
      <tr>
        <td><%= konsuman.name %></td>
        <td><%= konsuman.status %></td>
        <td><%= link_to 'Show', konsuman %></td>
        <td><%= link_to 'Edit', edit_konsuman_path(konsuman) %></td>
        <td><%= link_to 'Destroy', konsuman, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Konsuman', new_konsuman_path %>
