<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @konsuman.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @konsuman.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @konsuman.status %>
</p>

<%= link_to 'Edit', edit_konsuman_path(@konsuman) %> |
<%= link_to 'Back', konsumen_path %>
