<%= form_for(@tagihan) do |f| %>
  <% if @tagihan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tagihan.errors.count, "error") %> prohibited this tagihan from being saved:</h2>

      <ul>
      <% @tagihan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w3-row-padding">
  <div class="w3-col s3 w3-right-align">
    <%= f.label :customer_name %>&nbsp;
  </div>
  <div class="w3-col s3">
    <%= @tagihan.customer_name %>
    <%= f.hidden_field :customer_name %>
  </div>
  <div class="w3-col s3 w3-right-align">
    <%= f.label :no_tagihan %>&nbsp;
  </div>
  <div class="w3-col s3">
    <%= f.text_field :no_tagihan %>
  </div>
  </div>
  <div class="w3-row-padding">
  <div class="w3-col s3 w3-right-align">
    <%= f.label :tgl_tagihan %>&nbsp;
  </div>
  <div class="w3-col s3">
    <%= f.date_select :tgl_tagihan, order: [:day, :month, :year] %>
  </div>
  </div>
  <div class="w3-row-padding">
  <div class="w3-col s3">
    &nbsp;
  </div>
  <div class="w3-col s3">
    <br>
    <%= f.submit %>
  </div>
  </div>
  <br>
<table class="w3-table-all w3-hoverable">
  <thead>
    <tr class="w3-light-grey">
      <th>Nomor DM</th>
      <th>Tipe Kendaraan</th>
      <th>Kota</th>
      <th>Tgl Kirim</th>
      <th>Tgl Terima</th>
      <th>Harga</th>
      <th>Tambahan</th>
    </tr>
  </thead>

  <tbody>
    <% @daftar_muatans.each_with_index do |daftar_muatan, idx| %>
    <tr>
      <td>
        <%= daftar_muatan.no_dm %>
        <input type="hidden" name="dm_id_<%=idx+1%>" value="<%= daftar_muatan.id %>">
      </td>
      <td><%= daftar_muatan.kendaraan.tipe %></td>
      <td><%= daftar_muatan.kota %></td>
      <td><%= daftar_muatan.tgl_kirim.strftime("%d-%m-%Y") %></td>
      <td><%= daftar_muatan.tgl_terima.strftime("%d-%m-%Y") %></td>
      <td><%= daftar_muatan.harga %></td>
      <td><%= daftar_muatan.tambahan.to_f + daftar_muatan.muatan_items.sum(:tambahan).to_f %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
