<p id="notice"><%= notice %></p>

<h1>Listing Tagihans</h1>

<table class="w3-table-all w3-hoverable">
  <thead>
    <tr class="w3-light-grey">
      <th>Customer name</th>
      <th>No tagihan</th>
      <th>Tgl tagihan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tagihans.each do |tagihan| %>
      <tr>
        <td><%= tagihan.customer_name %></td>
        <td><%= tagihan.no_tagihan %></td>
        <td><%= tagihan.tgl_tagihan %></td>
        <td><%= link_to 'Show', tagihan %></td>
        <td><%= link_to 'Edit', edit_tagihan_path(tagihan) %></td>
        <td><%= link_to 'Destroy', tagihan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="w3-center">
<%= will_paginate @tagihans %>
</div>
<br>

<%= link_to 'New Tagihan', '/tagihans/new_form' %>
