<%= form_for(@tagihan, url: {action: 'new'}, method: "get") do |f| %>
<h1>New Tagihan</h1>

<div class="w3-row-padding">
<div class="w3-col s3 w3-right-align">
<%= f.label :customer_name %>&nbsp;
</div>
<div class="w3-col s3">
<%= f.select :customer_name, ["PT. ROYAL SULTAN AGUNG JKT", "PT. ROYAL SULTAN AGUNG SBY"], {}, {:class=> "w3-select w3-border w3-small"} %>
</div>
</div>
<div class="w3-row-padding">
<div class="w3-col s3 w3-right-align">
<%= f.label :from_date %>&nbsp;
</div>
<div class="w3-col s3">
<%= f.date_select :from_date, order: [:day, :month, :year] %>
</div>
<div class="w3-col s3 w3-right-align">
<%= f.label :thru_date %>&nbsp;
</div>
<div class="w3-col s3">
<%= f.date_select :thru_date, order: [:day, :month, :year] %>
</div>
</div>
<div class="w3-row-padding">
<div class="w3-col s3">
&nbsp;
</div>
<div class="w3-col s3">
<br>
<%= f.submit %>
</div>
</div>
<br>
<% end %>
<%= link_to 'Back', tagihans_path %>