<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @tagihan.id %>
</p>

<p>
  <strong>Customer name:</strong>
  <%= @tagihan.customer_name %>
</p>

<p>
  <strong>No tagihan:</strong>
  <%= @tagihan.no_tagihan %>
</p>

<p>
  <strong>Tgl tagihan:</strong>
  <%= @tagihan.tgl_tagihan %>
</p>

<%= link_to 'Edit', edit_tagihan_path(@tagihan) %> |
<%= link_to 'Back', tagihans_path %>
