<%= form_for(@kendaraan) do |f| %>
  <% if @kendaraan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kendaraan.errors.count, "error") %> prohibited this kendaraan from being saved:</h2>

      <ul>
      <% @kendaraan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :no_kendaraan %><br>
    <%= f.text_field :no_kendaraan %>
  </div>
  <div class="field">
    <%= f.label :tipe %><br>
    <%= f.text_field :tipe %>
  </div>
  <div class="field">
    <%= f.label :supir %><br>
    <%= f.text_field :supir %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
