<p id="notice"><%= notice %></p>

<h1>Listing Kendaraans</h1>

<table>
  <thead>
    <tr>
      <th>No kendaraan</th>
      <th>Tipe</th>
      <th>Supir</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kendaraans.each do |kendaraan| %>
      <tr>
        <td><%= kendaraan.no_kendaraan %></td>
        <td><%= kendaraan.tipe %></td>
        <td><%= kendaraan.supir %></td>
        <td><%= link_to 'Show', kendaraan %></td>
        <td><%= link_to 'Edit', edit_kendaraan_path(kendaraan) %></td>
        <td><%= link_to 'Destroy', kendaraan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kendaraan', new_kendaraan_path %>
