<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @kendaraan.id %>
</p>

<p>
  <strong>No kendaraan:</strong>
  <%= @kendaraan.no_kendaraan %>
</p>

<p>
  <strong>Tipe:</strong>
  <%= @kendaraan.tipe %>
</p>

<p>
  <strong>Supir:</strong>
  <%= @kendaraan.supir %>
</p>

<%= link_to 'Edit', edit_kendaraan_path(@kendaraan) %> |
<%= link_to 'Back', kendaraans_path %>
