<%= form_for(@harga) do |f| %>
  <% if @harga.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@harga.errors.count, "error") %> prohibited this harga from being saved:</h2>

      <ul>
      <% @harga.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kota_tujuan %><br>
    <%= f.text_field :kota_tujuan %>
  </div>
  <div class="field">
    <%= f.label :tarif %><br>
    <%= f.text_field :tarif %>
  </div>
  <div class="field">
    <%= f.label :ongkos %><br>
    <%= f.text_field :ongkos %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
