<p id="notice"><%= notice %></p>

<h1>Listing Hargas</h1>

<table>
  <thead>
    <tr>
      <th>Kota tujuan</th>
      <th>Tarif</th>
      <th>Ongkos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hargas.each do |harga| %>
      <tr>
        <td><%= harga.kota_tujuan %></td>
        <td><%= harga.tarif %></td>
        <td><%= harga.ongkos %></td>
        <td><%= link_to 'Show', harga %></td>
        <td><%= link_to 'Edit', edit_harga_path(harga) %></td>
        <td><%= link_to 'Destroy', harga, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Harga', new_harga_path %>
