<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @harga.id %>
</p>

<p>
  <strong>Kota tujuan:</strong>
  <%= @harga.kota_tujuan %>
</p>

<p>
  <strong>Tarif:</strong>
  <%= @harga.tarif %>
</p>

<p>
  <strong>Ongkos:</strong>
  <%= @harga.ongkos %>
</p>

<%= link_to 'Edit', edit_harga_path(@harga) %> |
<%= link_to 'Back', hargas_path %>
