<!DOCTYPE html>
<html>
<head>
  <title>Ekspedisi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div class="w3-bar w3-border w3-light-grey">
  <a href="<%=daftar_muatans_path%>" class="w3-bar-item w3-button">Daftar Muatan</a>
  <a href="<%=kendaraans_path%>" class="w3-bar-item w3-button">Kendaraan</a>
  <a href="<%=hargas_path%>" class="w3-bar-item w3-button">Harga</a>
  <a href="<%=konsumen_path%>" class="w3-bar-item w3-button">Konsumen</a>
  <a href="<%=tagihans_path%>" class="w3-bar-item w3-button">Tagihan</a>
</div> 
<%= yield %>

</body>
</html>
